
/*****************************************************************
  General
  *****************************************************************/
  html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  body {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  }

  a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #F05F40;
  }

  a:hover,a:focus {
    color: #eb3812;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
/*****************************************************************
  SPECIAL CLASSES
  *****************************************************************/

    .no-padding {
    padding: 0;
  }
 
   .clear{
    width: 100%;
    clear: both;
  }
  .no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }


/*****************************************************************
  SECTIONS
  *****************************************************************/
header {
    position: relative;
    width: 100%;
    min-height: 100px;
    background-color: #000000;
    background-image: url('../img/last.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center; 
    color: white;
  }

  section {
    padding: 15px 0;
  }

 .section-heading {
    margin-top: 0;
  }

  .row {
    margin:0px;
  }

  .container{
    text-align: center;
    margin:0px 50px;
  } 

  .service-box {
    float: left;
    margin: 50px 20px 0;
  }

  .descdata{
    font-size: 0.8em;
    height: 60px;
    width: 60%;
    margin: 10px auto;
  }
  h3.data{
    font-size: 3em;
  }

/*****************************************************************
  Elements
  *****************************************************************/
  ::selection {
    color: white;
    text-shadow: none;
    background: #222222;
  }

  img::selection {
    color: white;
    background: transparent;
  }
  img::-moz-selection {
    color: white;
    background: transparent;
  }
  body {
    webkit-tap-highlight-color: #222222;
  }
